@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
@model List<OrderProcessingApplication.DAL.OrderData>
<div class="card">
    <div class="card-header">
        <h1>Orders List</h1>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Setup">Add New Order</a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Customer Type</th>
                            <th>Customer Phone</th>
                            <th>Customer Email</th>
                            <th>Amount</th>
                            <th>Discount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CustomerName</td>
                                <td>@item.CustomerType</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.Email</td>
                                <td>@item.Amount</td>
                                <td>@item.Discount</td>
                                <td>
                                    <a class="btn btn-info" href="/Home/Setup?id=@item.ID"><i class="fa fa-pen" aria-hidden="true"></i></a>
                                    <a class="btn btn-danger" href="/Home/Delete?id=@item.ID" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
